* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
    font-family: 'PokemonClassic';
    src: url('./assets/font/Pokemon-Classic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } 
  
body {
    font-family: 'PokemonClassic', sans-serif;
    background-color: #d4ceb0;
  }
  
.pokedex-header {
    background-color: #e74b48;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.logo {
    display: flex;
    align-items: center;
  }
  
.logo img {
    width: auto;
    height: 36px;
  }
    
.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
.search-form input {
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
.search-form button {
    background-color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
.search-form button:hover {
    background-color: #ffd3d3;
  }
  
.pokemon-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin: 24px;
    width: 220px;
    height: 280px;
    border-radius: 24px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }

.pokemon_img {
    width: 100px;
    height: 100px;
  }

.element_ball img {
    width: 56px;
    height: auto;

  }

.element_ball {
    display: flex;

  }

.main-container {
    display: flex    ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

.pokemon-box:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }

.poke_Name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }