* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
    font-family: 'PokemonClassic';
    src: url('./assets/font/Pokemon-Classic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } 
  
body {
    font-family: 'PokemonClassic', sans-serif;
    background-color: #d4ceb0;
  }
  
.pokedex-header {
    background-color: #e74b48;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.logo {
    display: flex;
    align-items: center;
  }
  
.logo img {
    width: auto;
    height: 36px;
  }
    
.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
.search-form input {
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
.search-form button {
    background-color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
.search-form button:hover {
    background-color: #ffd3d3;
  }
  
