.pokemon-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin: 24px;
    width: 220px;
    height: 280px;
    border-radius: 24px;
    border: 2px solid #00000054;
    flex-direction: column;
    align-items: center;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }

.pokemon_img {
    width: 140px;
    height: 140px;
    filter: drop-shadow(5px 5px 5px #222);
  }

.element_ball img {
    width: 56px;
    height: auto;

  }

.element_ball {
    display: flex;

  }

.main-container {
    display: flex    ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

.pokemon-box:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }

.poke_Name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  :root {
     --grass: 	#46a083;
     --water: 	#5a8ad1;
     --fire: 	#e46565;
     --bug: 	#9dc50a;
     --normal: 	#b1b0af;
     --flying: 	#9cd0f3;
     --poison: 	#9358a5;
     --ground: #af772d;
     --fighting: #ce822b;
     --psychic:#b05cd1;
     --rock: #ac8415;
     --ice:#92dde2;
     --electric:#bba908;
     --ghost:  #3e035a;
     --dragon:#a09e2e;
  }
  

  
